@use '../abstract/variable' as * ;

// Navigation Styling
.nav-items{
    display: flex;
    gap: 1.5em;
    justify-content: flex-end;
}
.nav-items a{
    text-decoration: none;
    
    
}
// Page Water Mark
.titlemark{
    position: absolute;
    transform: rotate(90deg) translate(10rem, -5rem);
    right: 0;
    top:10%;
    font-size: clamp(1.5rem, 0.482rem + 5.09vw, 4.3rem);
    text-transform: uppercase;
    opacity: 10%;
    color: $dark-purple;

}
.header{
    box-shadow: 0 3px 3px rgba(66, 43, 112, 0.188);
    margin-bottom: 6rem;
    .nav{
        display: flex;
        justify-content: space-between;
        padding-block: 1.5em;
        font-size: $normalfont;
        color: $dark-purple;
    }

}

body{
    background-color: $background-color;
    overflow-x: hidden;
}

main{
    position: relative;
}
.nav-logo{
    font-weight: bold;
}

footer{
    padding-block: 2rem;
    background-color: black;
    font-size: $normalfont;
    color: white;
    .ft{
        justify-content: space-between;
    }
    ul.flex {
        gap: 3em;
        list-style: none;
        a{
            text-decoration: none;
            color: white;
        }
    }
    ul{
        width: clamp(3em, 100%, 10rem);
    }
}