// Navigation Styling
.nav-items{
    display: flex;
    gap: 1.5em;
    justify-content: flex-end;
}
.nav-items a{
    text-decoration: none;
    color: black;
}
// Page Water Mark
.titlemark{
    position: absolute;
    transform: rotate(90deg);
    right: 0;
    top: 50%;
    font-size: 2rem;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding-block: 1em;
}