@font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: normal;
    src: local("Segoe UI Regular"), url("../../Font/Segoe\ UI.woff") format("woff");
}



@font-face {
    font-family: "Segoe UI";
    font-style: bold;
    font-weight: bold;
    src: local("Segoe UI Bold"), url("../../Font/Segoe\ UI\ Bold.woff") format("woff");
}

