@use './variable' as *;

.contain{
    width: clamp(12.5rem, 100%, 58rem);
    margin: 0 auto;
    padding-inline: 1rem;
}
.flex{
    display: flex;
}

.flow > * + *{
    margin-top: 2.4rem;
}
.mr{
    margin-left: auto;
}
.ml{
    margin-right: auto;
}

.grid-center{
    display: grid;
    place-items: center;
    
    padding-bottom: 5rem;
}

.form-flow > * + * {
    margin-top: 1.5em;
}