@use "./index" as *;


.img-con {
    width: clamp(0.5rem, 100%, 3.5rem);
}

.author {
    color:$dark-purple;
    text-align: left;
    .hey{
        font-size:$authortex;
    }
    .creative {
        align-items: center;
        gap: 2.8rem;
        font-size:$authortex;
    }

    .myname {
        font-size:$authorname;
        font-weight: bold;
        color:$dark-purple;
        
    }
}
.author-img{
    width: 50%;
    transform: translate(1rem, -5rem);
}
.bazz{
    justify-content: space-between;
    align-items: flex-start;
}